@import 'variables.less';
@import '_colors.less';

body {
  padding: 0;
  margin: 0;
}

@headerHeight: 50px;
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header-page {
    position: fixed;
    display: table;
    width: 100%;
    height: @headerHeight;
    z-index: 5;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: @grey-800;
    transition: all 0.7s ease-out;
    transform: translate3d(0,-(@headerHeight)-5, 0);
    .header-page-cell {
      display: table-cell;
      vertical-align: middle;
      div {
        text-align: center;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
  }
  .down-header {
    transform: translate3d(0, 0, 0);
  }
  .slide-anim {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: @headerHeight+10;
    /*transform: translateZ(0);*/
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    overflow: auto;
  }
}

.shadow {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
}