@import 'variables.less';
@import '_colors.less';

body {
  padding: 0;
  margin: 0;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header-page {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 5;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    //background-color: #373737;
    background-color: @brown-700;
    p {
      line-height: 70px;
      text-align: center;
      color: white;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}

.shadow {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
}