@import 'variables.less';
@import '_colors.less';

.welcome-page {
  margin-top: 80px;
  h1 {
    font-size: 40px;
  }
  a {
    background-color: @brown-500 !important;
    color: white !important;


  }
  a:hover {
    background-color: @brown-400 !important;
  }
}