<div class="character-avatar"
     ng-style="
     {
           '-webkit-animation-duration':vm.duration+'s',
           'animation-duration': vm.duration+'s',
           'transform': 'translate3d(-50%, 0, 0) scaleX('+vm.scale+')',
           '-webkit-transform': 'translate3d(-50%, 0, 0) scaleX('+vm.scale+')'
     }">
    <div class="character-status-contener"
         ng-style="
         {
         'transform': 'scaleX('+vm.scale+')',
         '-webkit-transform': 'scaleX('+vm.scale+')'
         }">
        {{vm.characterPos}}
    </div>
</div>