<div class="character"
     ng-style="
     {
         'width': vm._charatcerConfig.config.width,
         'height': vm._charatcerConfig.config.height
     }">
    <div class="character-user"
         ng-style="
         {
            'transition-property': vm.transProperty,
            '-ms-transition-property': vm.transProperty,
            '-webkit-transition-property': vm.transProperty,
            'transition-duration': vm.duration,
            '-webkit-transition-duration': vm.duration,
            '-ms-transition-duration': vm.duration,
            'transition-timing-function': 'linear',
            '-webkit-transition-timing-function': 'linear',
            'transform': 'translate3d('+vm.endPos+',0,0)',
            '-webkit-transform': 'translate3d('+vm.endPos+',0,0)',
            '-ms-transform': 'translate3d('+vm.endPos+',0,0)'
        }">
        <div class="character-avatar"

             ng-style="
                         {
                            '-webkit-animation-duration':vm.durationAnim,
                            'animation-duration': vm.durationAnim,
                            'ms-duration': vm.durationAnim,
                            'transform': 'translate3d(-50%, 0, 0) scaleX('+vm.characterScale+')',
                            '-ms-transform': 'translate3d(-50%, 0, 0) scaleX('+vm.characterScale+')',
                            '-webkit-transform': 'translate3d(-50%, 0, 0) scaleX('+vm.characterScale+')'
                         }">
            <div class="character-status-contener"
                 ng-style="
                         {
                            'transform': 'scaleX('+vm.scale+')',
                            '-webkit-transform': 'scaleX('+vm.scale+')'
                         }">
                {{vm.pos}}
            </div>
        </div>
    </div>
</div>



<!--
<avatar
        character-config="vm.characterListPath"
        character-add-style="vm.characterAddStyle"
        character-child="vm.characterChild"
        character-pos="vm.currentEnd"
        start-anim="vm.startAnimation"
        stop-anim="vm.stopAnimation"
></avatar>
-->
