<div class="authentication" ng-controller="authenticationController as vm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="welcome">Welcome to Scrabble quiz game</div>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputName" class="col-md-1 control-label">Username</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-md-1 control-label">Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="inputPassword"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group submit-content">
                                <div class="submit-btn-content">
                                    <button type="button" class="btn btn-raised btn-info btn-sm">Registration</button>
                                </div>
                                <div class="submit-btn-content">
                                    <div class="or-table">
                                        <div class="or-table-cell">
                                            <div>or</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-btn-content">
                                    <button type="button" class="btn btn-raised btn-info btn-sm">Login</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
