<div class="authentication" ng-controller="authenticationController as vm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="welcome">Welcome to Scrabble quiz game</div>
                    <form class="form-horizontal" name="authForm">
                        <input type="text" name="username" style="display: none;">
                        <input type="password" name="userpassword" style="display: none;">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputName" class="col-md-1 control-label">Username</label>
                                <div class="col-md-10">
                                    <input type="text"
                                           name="user_name"
                                           class="form-control"
                                           id="inputName"
                                           placeholder="Username"
                                           ng-model="vm.authSendObj.name"
                                           required
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-md-1 control-label">Password</label>
                                <div class="col-md-10">
                                    <input type="password"
                                           name="user_password"
                                           class="form-control"
                                           id="inputPassword"
                                           placeholder="Password"
                                           ng-model="vm.authSendObj.password"
                                           required
                                    >
                                </div>
                            </div>
                            <div class="form-group checkbox-content">
                                <input id="pipeBox" type="checkbox">
                                <label for="pipeBox">
                                    <i class="checkbox-anim"></i>
                                </label>
                                <span>kepp me logged in</span>
                            </div>
                            <div class="form-group">
                                <div class="error-handling" ng-bind="vm.errorMsg"></div>
                            </div>

                            <div class="form-group submit-content">
                                <div class="submit-btn-content">
                                    <button type="button"
                                            class="btn btn-raised btn-info btn-sm"
                                            ng-disabled="authForm.$invalid"
                                            ng-click="vm.submitRegistration()">
                                        Registration
                                    </button>
                                </div>
                                <!--<div class="submit-btn-content">
                                    <div class="or-table">
                                        <div class="or-table-cell">
                                            <div>or</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-btn-content">
                                    <button type="button" class="btn btn-raised btn-info btn-sm">Login</button>
                                </div>-->
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<!--
<form name="vm.loginForm" novalidate ng-submit="vm.login()" autocomplete="off">
    <input type="email" style="display: none;">
    <input type="password" style="display: none;">

    <div class="">
        <label for="input-login-email"
               class="control-label"
               translate-once="general.labels.email"></label>
        <input id="input-login-email"
               type="email"
               class="form-control"
               autocomplete="off"
               name="email"
               required
               ng-model="vm.loginSendObject.email"
        >
        <l4c-form-error form="vm.loginForm"
                        property="email"
                        error="general.errors.invalidEmail"
        ></l4c-form-error>
    </div>
    <div class="">
        <label for="input-password-password"
               ng-show="!vm.maskIsVisible"
               class="control-label"
               translate-once="general.labels.password"></label>
        <label for="input-password-text"
               ng-show="vm.maskIsVisible"
               class="control-label"
               translate-once="general.labels.password"></label>

        <div class="input-content" ng-init="vm.maskIsVisible = false;">
            <i class="fa fa-eye inputMaskBtn" ng-class="{active:vm.maskIsVisible}"
               ng-click="vm.changeMask()"></i>
            <input id="input-password-password"
                   type="password"
                   name="password"
                   class="form-control animationReset"
                   required
                   ng-model="vm.loginSendObject.password"
                   ng-show="!vm.maskIsVisible"
            >
            <input id="input-password-text"
                   type="text"
                   name="passwordMask"
                   class="form-control animationReset"
                   ng-model="vm.loginSendObject.password"
                   required
                   ng-show="vm.maskIsVisible"
            >
        </div>
        <l4c-form-error form="vm.loginForm"
                        property="password"
                        error="general.errors.invalidPassword"
        ></l4c-form-error>
    </div>

    <div class="">
        <button class="btn btn-primary mg-t-sm"
                id="btn-login"
                type="submit"
                ng-disabled="(vm.loginForm.$submitted && vm.loginForm.$invalid) || vm.isLoading"
                translate-once="general.actions.login">
        </button>
        <button class="btn btn-link pull-right mg-t-md"
                ng-click="vm.showForgetPassword()"
                translate-once="general.actions.forgetPassword"
        ></button>
    </div>
</form>
-->
