<div class="welcomeSlide">
    <div class="welcome" ng-controller="welcomeController as vm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="well welcome-page shadow">
                        <h1>Welcome</h1>
                        <p>Lorem ipsum dolor sit amet, molestiae rhoncus pellentesque, id est, metus eu maecenas
                            hendrerit, mauris in. Amet mollis iaculis suspendisse ligula lectus, mauris integer eget
                            luctus pulvinar sit.<br> <br>
                            Lorem ipsum dolor sit amet, massa ut nam pellentesque turpis, praesent nunc. Feugiat
                            placerat mi eu dis risus, cursus vel, mi in et et. Ultricies lectus dui, eu id, quam est
                            vivamus ante, <br>
                        <p>Lorem ipsum dolor sit amet, molestiae rhoncus pellentesque, id est, metus eu maecenas
                            hendrerit, mauris in. Amet mollis iaculis suspendisse ligula lectus, mauris integer eget
                            luctus pulvinar sit.<br> <br>
                        </p>
                        <br>
                        <p>Lorem ipsum dolor sit amet, molestiae rhoncus pellentesque, id est, metus eu maecenas
                            hendrerit, mauris in. Amet mollis iaculis suspendisse ligula lectus, mauris integer eget
                            luctus pulvinar sit.<br> <br>
                        </p>
                        <a class="btn btn-raised btn-sm" ng-href="/#profilesetting">Next step</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>